name: "CI"
on:
  push:
  pull_request:
jobs:
  pkgs-linux:
    strategy:
      matrix:
        infra: [nixpkgs, haskell-nix, shajra]
    name: "pkgs-linux: ${{ matrix.infra }}"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v27
      with:
        # DESIGN: matching current in NixOS 24.05
        install_url: https://releases.nixos.org/nix/nix-2.18.4/install
        extra_nix_config: |
          substituters = https://cache.nixos.org https://nix-community.cachix.org https://haskell-language-server.cachix.org https://cache.iog.io
          trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= nix-community.cachix.org-1:mB9FSh9qf2dCimDSUo8Zy7bkq5CX+/rkCWyvRCYg3Fs= haskell-language-server.cachix.org-1:juFfHrwkOxqIOZShtC4YC1uT1bBcq2RSvC7OMKx0Nz8= hydra.iohk.io:f/Ea+s+dFdN+3Y/G+FDgSq+a5NEWhJGzdjvKNGv0/EQ=
    - uses: cachix/cachix-action@v15
      with:
        name: shajra
        signingKey: ${{ secrets.CACHIX_SIGNING_KEY }}
    - uses: DeterminateSystems/magic-nix-cache-action@main
    - run: cat /etc/nix/nix.conf
    - run: cat ~/.config/nix/nix.conf
    - run: |
        nix build --print-build-logs --verbose \
            .#ci.build.${{ matrix.infra }}
    - run: |
        nix --print-build-logs path-info \
            .#ci.build.${{ matrix.infra }}
  pkgs-darwin:
    strategy:
      matrix:
        infra: [nixpkgs, haskell-nix, shajra]
    name: "pkgs-darwin: ${{ matrix.infra }}"
    needs: [pkgs-linux]
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v27
      with:
        # DESIGN: matching current in NixOS 24.05
        install_url: https://releases.nixos.org/nix/nix-2.18.4/install
        extra_nix_config: |
          substituters = https://cache.nixos.org https://nix-community.cachix.org https://haskell-language-server.cachix.org https://cache.iog.io
          trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= nix-community.cachix.org-1:mB9FSh9qf2dCimDSUo8Zy7bkq5CX+/rkCWyvRCYg3Fs= haskell-language-server.cachix.org-1:juFfHrwkOxqIOZShtC4YC1uT1bBcq2RSvC7OMKx0Nz8= hydra.iohk.io:f/Ea+s+dFdN+3Y/G+FDgSq+a5NEWhJGzdjvKNGv0/EQ=
    - uses: cachix/cachix-action@v15
      with:
        name: shajra
        signingKey: ${{ secrets.CACHIX_SIGNING_KEY }}
    - uses: DeterminateSystems/magic-nix-cache-action@main
    - run: cat /etc/nix/nix.conf
    - run: cat ~/.config/nix/nix.conf
    - run: |
        nix build --print-build-logs --verbose \
            .#ci.build.${{ matrix.infra }}
    - run: |
        nix --print-build-logs path-info \
            .#ci.build.${{ matrix.infra }}
  installers-linux:
    needs: [pkgs-linux]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v27
      with:
        # DESIGN: matching current in NixOS 24.05
        install_url: https://releases.nixos.org/nix/nix-2.18.4/install
        extra_nix_config: |
          substituters = https://cache.nixos.org https://nix-community.cachix.org https://haskell-language-server.cachix.org https://cache.iog.io
          trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= nix-community.cachix.org-1:mB9FSh9qf2dCimDSUo8Zy7bkq5CX+/rkCWyvRCYg3Fs= haskell-language-server.cachix.org-1:juFfHrwkOxqIOZShtC4YC1uT1bBcq2RSvC7OMKx0Nz8= hydra.iohk.io:f/Ea+s+dFdN+3Y/G+FDgSq+a5NEWhJGzdjvKNGv0/EQ=
    - uses: cachix/cachix-action@v15
      with:
        name: shajra
        signingKey: ${{ secrets.CACHIX_SIGNING_KEY }}
    - uses: DeterminateSystems/magic-nix-cache-action@main
    - run: cat /etc/nix/nix.conf
    - run: cat ~/.config/nix/nix.conf
    - run: nix flake check --no-build --verbose
    # DESIGN: Can't CI homes; even slimmed they're too big for GitHub
    - run: nix run .#nixosConfigurations.cake.nixos-rebuild -- --flake .#cake build
  installers-darwin:
    needs: [pkgs-darwin]
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v27
      with:
        # DESIGN: matching current in NixOS 24.05
        install_url: https://releases.nixos.org/nix/nix-2.18.4/install
        extra_nix_config: |
          substituters = https://cache.nixos.org https://nix-community.cachix.org https://haskell-language-server.cachix.org https://cache.iog.io
          trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= nix-community.cachix.org-1:mB9FSh9qf2dCimDSUo8Zy7bkq5CX+/rkCWyvRCYg3Fs= haskell-language-server.cachix.org-1:juFfHrwkOxqIOZShtC4YC1uT1bBcq2RSvC7OMKx0Nz8= hydra.iohk.io:f/Ea+s+dFdN+3Y/G+FDgSq+a5NEWhJGzdjvKNGv0/EQ=
    - uses: cachix/cachix-action@v15
      with:
        name: shajra
        signingKey: ${{ secrets.CACHIX_SIGNING_KEY }}
    - uses: DeterminateSystems/magic-nix-cache-action@main
    - run: cat /etc/nix/nix.conf
    - run: cat ~/.config/nix/nix.conf
    - run: nix flake check --no-build --verbose
    - run: ./home-manager   --flake .#bagel-fake-slim build
